<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/reset.css">
</head>
<body>
    <main>
        <h1>Pokemons</h1>

        <section>
            <% results.forEach(pokemon => { %>
                <div>
                    <!-- <p>Nome: <%= pokemon.name %></p>
                    <p>URL: <%= pokemon.url %></p> -->
                    <a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a>
                </div>
            <% }) %>
        </section>


    </main>
</body>
</html>