<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>
</head>
<body>
    <main>
        <h1>Busca por pokemons</h1>

        <section>
            <label for="">Buscar por nome</label>
            <input type="text">
            <button type="button">Buscar</button>
        </section>
        <section>
            <label for="">Buscar por id</label>
            <input type="text">
            <button type="button">Buscar</button>
        </section>
        <section>
            <h2>Resultado:</h2>
            
        </section>


    </main>




    <!-- <h1>PokeDex Unicesumar</h1>
    <% results.forEach(pokemon => { %>
    <div>
        <p>Nome: <%= pokemon.name %></p>
        <p>URL: <%= pokemon.url %></p>
    </div>
    <% }) %> -->
</body>
</html>